-HỒ NGUYỄN HOÀNG PHÁT 

-PHẠM QUỐC AN

-NGUYỄN THỊ THU NGÂN

-TRẦN LÊ VÂN

In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df = pd.read_csv('Profit.csv')
df

     Unnamed: 0      Dist.1      Dist.3
0             1  469.287974  636.998800
1             2  624.279263  469.899012
2             3  502.423935  501.089387
3             4  535.707470  600.583043
4             5  531.136676  634.337700
..          ...         ...         ...
195         196  415.911929  579.307607
196         197  611.406840  592.417549
197         198  520.994007  547.489690
198         199  570.627738  575.621403
199         200  436.502902  459.709049

[200 rows x 3 columns]

df.isnull().sum()

In [6]:
dist1 = df['Dist.1']
dist3 = df['Dist.3']
confidence_interval = stats.t.interval(
    0.95, 
    len(dist1)-1, 
    loc=np.mean(dist1 - dist3), 
    scale=stats.sem(dist1 - dist3)
)
print("Khoang tin cay 95% la: ",confidence_interval)

Khoang tin cay 95% la:  (8.117962095529133, 40.74784023755568)

### B. Tren 600 trieu

In [7]:
# b) Kiểm tra tỷ lệ ngày có doanh số trên 600 triệu đồng
high = 600

# Đếm số ngày có doanh số trên 600 triệu đồng
stat1 = np.sum(dist1 > high)
stat3 = np.sum(dist3 > high)

# Tính tỷ lệ
p_value1 = stat1 / len(dist1)
p_value3 = stat3 / len(dist3)

# Kiểm định t-test
stat, p_value = stats.ttest_ind(dist1 > high, dist3 > high, alternative='greater')

print(f"b) Tỷ lệ ngày doanh số cao (quận 1): {p_value1 * 100:.2f}%")
print(f"   Tỷ lệ ngày doanh số cao (quận 3): {p_value3 * 100:.2f}%")
print("   Giá trị p từ kiểm định:", p_value)
stat

b) Tỷ lệ ngày doanh số cao (quận 1): 24.00%
   Tỷ lệ ngày doanh số cao (quận 3): 19.50%
   Giá trị p từ kiểm định: 0.13825664296112147

1.0896803728236673

In [25]:
#c) Viết hàm prop.test.leq(x, y, alpha)
def prop_test_leq(x, y, alpha=0.05):
    n_x = len(x)
    n_y = len(y)
    p_x = np.sum(x) / n_x
    p_y = np.sum(y) / n_y
    
    p_pool = (np.sum(x) + np.sum(y)) / (n_x + n_y)
    se = np.sqrt(p_pool * (1 - p_pool) * (1/n_x + 1/n_y))
    z_score = (p_x - p_y) / se
    
    p_value = stats.norm.cdf(z_score)
    
    return p_value, p_value < alpha

# Kiểm định giả thuyết
x = dist1 > high
y = dist3 > high
p_value, reject = prop_test_leq(x, y)
if p_value < 0.05:
    print(f"Gia tri p từ kiểm định prp.test.leq: {p_value *100:.3f}")
    print("Kết luận: Đủ cơ sở để bác bỏ giả thuyết H0 (p_x = p_y).")
else:
    print(f"Giá trị p từ kiểm định prop.test.leq: {p_value * 100:.3f}%")
    print("   Kết luận: Chưa đủ cơ sở để bác bỏ giả thuyết H0 (p_x = p_y).")

Giá trị p từ kiểm định prop.test.leq: 86.232%
   Kết luận: Chưa đủ cơ sở để bác bỏ giả thuyết H0 (p_x = p_y).